<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CacheManager.Core" version="0.9.3" targetFramework="net462" />
  <package id="CacheManager.Serialization.Json" version="0.9.3" targetFramework="net462" />
  <package id="CacheManager.StackExchange.Redis" version="0.9.3" targetFramework="net462" />
  <package id="CacheManager.SystemRuntimeCaching" version="0.9.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net462" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net462" />
  <package id="StackExchange.Redis.StrongName" version="1.2.0" targetFramework="net462" />
  <package id="Strathweb.CacheOutput.WebApi2" version="0.10.0" targetFramework="net462" />
</packages>